[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.6"
pdfplumber = "*"
python-pptx = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
server = "python manage.py runserver 0.0.0.0:8989"
test = "python manage.py test analytics.tests"
